
.contentItem{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.imagemonth{
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.contanierMonth{
    display: flex;
    flex-direction: column;
    gap:32px;
    min-height: 470px;

}
@media screen and (min-width:1024px){
    .contanierMonth{
    flex-direction: row;
;
}
.contentItem{
   max-width: 50%;
   max-height: 100%;
  }
  .contentItem.hasImage {
  flex-direction: row; 
  align-items: center;      
}
}
